body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
    url("https://images.wallpapersden.com/image/download/god-of-war-ragnaroek-background-2022_bWptbmiUmZqaraWkpJRmaGhrrWxrbQ.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
}

header{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 20px auto;
}
:root{
 --azul:rgb(12, 45, 107); 
 --branco: white; 
 --cinza:rgba(0, 0, 0, 0.01);
}

.box{
    display: inline-block;
    padding: 0.3rem;
    border-radius: 1rem;
    border-color: black;
}
#character{
    backdrop-filter: blur(8px);
    background-color:var(--cinza);
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius:10rem;
    align-items: center;
    flex-direction: column;
    text-align: center;
    user-select: none;
}
#character h2 {
    font-size:40px;
    color: var(--branco);
    text-transform: uppercase;
}

#character h3{
    color:var(--branco);
    text-shadow: 0 1px 5px var(--azul);
    img{
        width: 20px;
    }
}

#character .carrossel{
    justify-content: center;
    display: flex;
    align-items: center;
}
#character img{
    width: 30%;
    border-radius: 25px;
    height: auto;
}

#character button{
    border-radius: 5rem;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--branco);
    color: var(--branco);
}

#character blockquote{
    color:var(--branco);
    text-shadow: 0 1px 5px var(--azul);

}

#character blockquote:hover{
    text-shadow: 0 1px 10px;
}

#btn:hover{
    color: var(--azul);
    background-color: var(--branco);

}

#btn:focus{
    background-color:  var(--azul);
    color:var(--branco);
}

#pesquisa:focus::placeholder{
    color:var(--branco);
}

#pesquisa:hover{
    color:var(--azul);
}

#pesquisa:focus{
    outline:none;
     background-color:  var(--azul);
    color:vaR(--branco);
}

#pesquisa{
    width:11.5rem;
}